* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', 'Courier New', Courier, monospace;

    font-weight: 200;
}

body {
    background-color: 	#141d26;
}

a {
    text-decoration: none;
}

.thumbnailcontainer {
    width: 100%;
    margin-top: 5%;
    
}


.thumbnail {
    display: inline-block;
    background-color: 	#243447;
    width: 400px;
    height: 160px;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    margin:2em;
    overflow:hidden;
    border-radius: 50px 0px 50px 0px;

    transition: all .6s;
}

.thumbnail h1 {
    margin-top: 90px;
    margin-left: 20px;
    font-size: 3em;
    transition: all .6s;
}

.thumbnail:hover {

    background-color: #394859;
}

#youtube {
    color: #ff0000;
    box-shadow: 8px 8px 20px #a70000;
}

#youtube:hover {
    color: #ff5252;
    box-shadow: 8px 8px 20px #ff5252;
}

#roundcube {
    color:	#1ebbd7;
    box-shadow: 8px 8px 20px #1ba8c1;
}

#roundcube:hover {
    color: #78d6e7;
    box-shadow:8px 8px 20px #78d6e7;
}

#gmail {
    color: #FFA700;
    box-shadow:8px 8px 20px #FFA700;
}

#gmail:hover {
    color: #ffca66;
    box-shadow:8px 8px 20px #ffca66;
}

#github {
    color: #6a329f;
    box-shadow:8px 8px 20px #6a329f;
}

#github:hover {
    color: #966fbb;
    box-shadow:8px 8px 20px #966fbb;
}